<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Checklist for </title>
    <style>
        /* General styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 210mm;
            /* A4 width */
            /* padding: 20px; */
            /* padding:10mm;
            padding-top:unset;
            padding-bottom:unset; */
            margin: 0 auto;
            box-sizing: border-box;
        }

        /* Header styles */
        header {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            font-size: 10px;
            color: rgba(0, 0, 0, 0.6);
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .logo {
            height: 30px;
            width: 30px;
            margin-right: 20px;
        }

        .header-text {
            flex-grow: 1;
            margin-bottom:20px;
        }
        .header-text h3{
            padding:unset;
            margin:unset;
            color: rgba(0, 0, 0, 0.6)
        }

        .header-text h1 {
            font-size: 20px;
            margin: 0;
            margin-top:2px;
        }

        .header-text .date {
            font-size: 12px;
            color: #888;
        }

        /* Booking info styles */
        .booking-info {
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid #bfbfbf;
            border-bottom: unset;
        }

        .booking-info div {
            padding: 8px;
            border-bottom: 1px solid #bfbfbf;
        }

        .info-row {
            display: flex;
            margin-bottom: 5px;
        }

        .info-label {
            font-weight: bold;
            width: 150px;
        }

        .info-value {
            flex-grow: 1;
            color: rgba(0, 0, 0, 0.6)
        }

        /* Table styles */
        .booking-table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #bfbfbf;
            border-bottom: unset;
        }

        .booking-table th,
        .booking-table td {
            border: 1px solid #bfbfbf;
            padding: 10px;
            text-align: left;
            font-size: 14px;
            word-wrap: break-word;
            /* Ensure text wraps within cells */
        }

        .booking-table td {
            color: rgba(0, 0, 0, 0.6);
        }

        .booking-table th {
            font-weight: bold;
            border: unset
        }

        .booking-table th.name-column {
            width: 30%;
        }

        .booking-table td img {
            height: 55px;
            object-fit: cover
        }

        .booking-table td input {
            display: block;
            margin: 0 auto;
            height:20px;
            width:20px;
            border: none;
        }
        .booking-table .qrcodeInfo{
            display:  flex;
            flex-direction: row;
            gap:4px;
            align-items: center;
        }
        /* Responsive design */
        @media (max-width: 600px) {
            .info-row {
                flex-direction: column;
            }

            .info-label {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div>
        <div class="container">
            <div class="header-text">
                <h3><%= orgName %></h3></h3>
                <h1>Booking checklist for <%= name %></h1>
            </div>
            <section class="booking-info">
                <div class="info-row">
                    <span class="info-label">Booking:</span>
                    <span class="info-value"><%= name %></span>
                </div>
                <div class="info-row">
                    <span class="info-label">Custodian:</span>
                    <span class="info-value"><%= custodian %></span>
                </div>
                <div class="info-row">
                    <span class="info-label">Booking period:</span>
                    <span class="info-value"><%= bookingPeriod %></span>
                </div>
            </section>
            <table class="booking-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="name-column">Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(function(item, index) { %>
                    <tr>
                        <td>
                            <div
                                style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                <%= index + 1 %>
                                <img 
                                   src="<%= item.mainImage %>"
                                    alt="Asset">
                            </div>
                        </td>
                        <td><%= item.name %></td>
                        <td><%= item.category %></td>
                        <td><%= item.location %></td>
                        <td>
                            <div class="qrcodeInfo">
                                <img 
                                src="<%= item.code %>"
                                alt="QR Code">
                                <input type="checkbox"/>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>